<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Pregunta: " %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :item, "Articulo de referencia: " %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :sub_category_id %><br>
    <%= f.collection_select :sub_category_id, SubCategory.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
