<p id="notice"><%= notice %></p>

<div>
	Nombre: 
	<%= @sub_category.name %>
</div>

<div>
	Categoria:
	<%= @sub_category.category.name %>
</div>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>