- if load_css
	= wicked_pdf_stylesheet_link_tag "print.css"
	%meta{http_equiv: "Content-Type", content: "text/html; charset=UTF-8" }
	.row.common-title
		.col-md-12
			%h1
				%span
					Reporte total de los comedores
				= wicked_pdf_image_tag "statistic.png"
	#new_logo.row
		= wicked_pdf_image_tag "long_logo.png"


#data-returned.row
	/ Here goes the download
	#daily_labels.col-md-offset-1.col-md-10{style: "padding: 0px;"}
		.col-xs-2.col-sm-2.col-md-2{class: "gray monthly_arrow_head arrow_head", data: {point_to: "monthly_summary"}}
			%span 
				Total
		- colors = %w{red blue gray}
		- i = 0
		- total = 0
		- total_yes = 0
		- total_no = 0
		- result.each do |key, value|
			.col-xs-2.col-sm-2.col-md-2{class: "#{colors[i]} monthly_arrow_head arrow_head", data: {point_to: "monthly_#{colors[i]}"}}
				%span
					= key.name
			- i += 1
			- total_yes += value[:total_yes]
			- total_no += value[:total_no]
			- total += (value[:total_yes] + value[:total_no])
	.clearfix
	#monthly_summary.col-md-offset-1.col-md-10
		%h3
			Total de Votos: #{total}
		.horizontal_bar_container
			%h3{style: "color: #FF0000;"}
				SI
			.horizontal_bar
				- value = total_yes*100/total
				%p#total_yes{style: "width: #{value}%"}
					= value
			%h3{style: "color: #2A295C"}
				NO
			.horizontal_bar
				- value = total_no*100/total
				%p#total_no{style: "width: #{value}%"}
					= value
	- i = 0
	- result.each do |key, value|
		.col-md-offset-1.col-md-10.monthly_sub_category_value{id: "monthly_#{colors[i]}"}
			%h3
				Total de votos: #{value[:total_yes] + value[:total_no]}
				- total = value[:total_yes] + value[:total_no]
			%h3.clickable{data: {point_to: "#{key.name}"}}
				#{key.name} (ver detalle)
			.horizontal_bar_container
				%h3{style: "color: #FF0000"}
					SI
				.horizontal_bar
					- new_value = total == 0 ? 0 : value[:total_yes]*100/total
					%p#total_yes{style: "width: #{new_value}%"}
						= new_value
				%h3{style: "color: #2A295C"}
					NO
				.horizontal_bar
					- new_value = total == 0 ? 0 : value[:total_no]*100/total
					%p#total_no{style: "width: #{new_value}%"}
						= new_value
			.col-md-offset-10.col-md-2
				= link_to "Atr치s", "#", class: "btn btn-default btn-block monthly_back_button"
		- i += 1
	- new_colors = %w(gray blue red)
	- result.each do |key, value|		
		.col-md-offset-1.col-md-10.daily_sub_category_value{id: "#{key.name}"}	
			%h2
				= "#{key.name.strip} (#{value[:total_yes] + value[:total_no]} votos registrados)"
			- value[:questions].each do |question|
				.question
					%h3
						= question[:question]
					- new_colors.each do |color|
						.col-xs-3.col-sm-3.col-md-3{class: "#{color} arrow_head", data: {point_to: "daily_#{new_colors}"}}
							%span
								- case color
									- when "gray"
										Votos Totales: #{question[:yes] + question[:no]}
									- when "blue"
										Si: #{question[:yes]} Votos
									- when "red"
										No: #{question[:no]} Votos
					.clearfix
					.question_content.col-md-12
						%p
							- if load_css
								= wicked_pdf_image_tag "statistic.png"
							- else
								= image_tag "statistic.png"
							- total = question[:yes] + question[:no]
							- if total == 0
								0% de aprobaci칩n 
							- else
								#{(question[:yes]*100)/total}% de aprobaci칩n 
					.clearfix
			.col-md-offset-10.col-md-2
				= link_to "Atr치s", "#", class: "btn btn-default btn-block total_back_button"
		- i += 1