- if load_css
	= wicked_pdf_stylesheet_link_tag "print.css"
	%meta{http_equiv: "Content-Type", content: "text/html; charset=UTF-8" }
	.row.common-title
		.col-md-12
			%h1
				%span
					Reporte Detallado
				= wicked_pdf_image_tag "statistic.png"
	#new_logo.row
		= wicked_pdf_image_tag "long_logo.png"
.row
	.col-md-2.col-md-offset-9
		= form_tag result_detailed_by_service_path(format: "pdf"), class: "download_pdf" do
			= hidden_field_tag "restaurant_id", result[2][:restaurant]
			= hidden_field_tag "start_date_for_report", result[2][:start_date]
			= hidden_field_tag "end_date_for_report", result[2][:end_date]
			= submit_tag "Descargar reporte en pdf", class: "btn btn-default submit_pdf_button"
.station.row.result_to_care
	.col-md-offset-1.col-md-2.col-sm-2.total
		%h5
			= result[0].name
	.col-md-2.col-sm-2.col-xs-12.no
		%h5
			Desayuno
	.col-md-2.col-sm-2.col-xs-12.yes
		%h5
			Almuerzo
	.col-md-2.col-sm-2.col-xs-12.total
		%h5
			Cena
.bar-values.station.row.result_to_care
	.col-md-offset-1.col-md-10.new_bars_container
		- i = 0;
		- result[1].each do |key, value|
			- total = value[:total]
			- yes = value[:yes]
			- no = value[:no]
			- class_value = "red" if i == 0 
			- class_value = "blue" if i == 1 
			- class_value = "gray" if i == 2
			- unless total == 0
				- yes_height = (yes*300/total)
				- no_height = (no*300/total)
				.col-md-offset-1.col-md-3.new_bar_container
					.bar.col-md-6
						.col-md-offset-1.value.col-md-10
							%p{style: "height: #{no_height}px;", class: class_value}
								= no_height*100/300
								%br
								\%
						%h5{class: class_value}
							No
					.bar.col-md-6
						.col-md-offset-1.value.col-md-10
							%p{style: "height: #{yes_height}px;", class: class_value}
								= yes_height*100/300
								%br
								\%
						%h5{class: class_value}
							Si
			- else
				.col-md-offset-1.col-md-3
					.bar.col-md-6
						.col-md-offset-1.value.col-md-10
							%p{class: class_value}
								0
								%br
								\%
						%h5{class: class_value}
							No
					.bar.col-md-6
						.col-md-offset-1.value.col-md-10
							%p{class: class_value}
								0
								%br
								\%
						%h5{class: class_value}
							Si
			- i += 1
= link_to "Imprimir documento", "javascript:window.print()", id: "print_button", class: "btn btn-block btn-primary"

=content_for :scripts do
	:javascript
		$(document).ready(function(){
			$(".bar").each(function(){
				var bg = $(this).find(".value p").css("background");
				$(this).find(".value p:before").css("background", bg);
				$(this).find(".value p:after").css("background", bg);
			});
		});