- if result[0]
	.row
		.col-md-2.col-md-offset-9
			= form_tag report_result_path(format: "pdf"), class: "download_pdf" do
				= hidden_field_tag "restaurant_id_for_survey", @id
				= hidden_field_tag "date_for_survey", @date
				= submit_tag "Descargar reporte en pdf", class: "btn btn-default submit_pdf_button"
	- result[2].each do |sub|
		.station.row.result_to_care
			.col-md-12.col-xs-12
				%h1
					- sub_total = 0
					- result[1][sub].each do |cq|
						- sub_total += cq.answers.where("created_at >= ? AND created_at <= ?", sub.start_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day), sub.end_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day)).count
					= sub.name + " (#{sub_total} votos registrados)"
				- result[1][sub].each do |cq|
					- total = cq.answers.where("created_at >= ? AND created_at <= ?", sub.start_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day), sub.end_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day)).count
					- yes = cq.answers.where("alternative_id = ? AND created_at >= ? AND created_at <= ?", cq.availability.question.alternatives.first.id, sub.start_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day), sub.end_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day)).count
					- no = cq.answers.where("alternative_id = ? AND created_at >= ? AND created_at <= ?", cq.availability.question.alternatives.last.id, sub.start_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day), sub.end_time.in_time_zone.change(year: result[3].year, month: result[3].month, day: result[3].day)).count
					.question-title.col-md-12.col-sm-12.col-xs-12
						%h2
							= cq.availability.question.title
					.total.col-md-2
						%h5
							= "Votos totales: #{total}"
					.yes.col-md-2
						%h5
							= "Votos SI: #{yes}"
					.no.col-md-2
						%h5
							= "Votos NO: #{no}"	
					.value-to-show.col-md-12
						%h3
							= image_tag "statistic_big.png"
							
							- unless total == 0
								- yes_width = yes*100/total
							- else
								- yes_width = 0
							= "#{yes_width}% de los comensales" 
					.clearfix.col-md-12.col-xs-12
	= link_to "Imprimir documento", "javascript:window.print()", id: "print_button", class: "btn btn-block btn-primary"
- else
	%h1.no_survey_result
		No existe una encuesta con los datos indicados