- if load_css
	= wicked_pdf_stylesheet_link_tag "print.css"
	= wicked_pdf_javascript_include_tag "application"
	%meta{http_equiv: "Content-Type", content: "text/html; charset=UTF-8" }
	.row.common-title
		.col-md-12
			%h1
				%span
					Reporte mensual
				= wicked_pdf_image_tag "statistic.png"
	#new_logo.row
		= wicked_pdf_image_tag "long_logo.png"

#data-returned.row
	- month_yes_values = []
	- month_no_values = []
	- cheat_values = []
	- months_names = []
	- yes_value = 0
	- no_value = 0
	- result[:months].each do |month_number|
		- total = result[:summary][month_number][:yes] + result[:summary][month_number][:no]
		- unless total == 0
			- month_yes_values << ((result[:summary][month_number][:yes]*100)/total).round
			- month_no_values << ((result[:summary][month_number][:no]*100)/total).round
		- else
			- month_yes_values << 0
			- month_no_values << 0
		- yes_value += result[:summary][month_number][:yes]
		- no_value += result[:summary][month_number][:no]
		- months_names << my_month(month_number)
	
	/
		.col-md-2.col-md-offset-9
			= form_tag result_per_month_with_year_path(format: "pdf"), class: "download_pdf" do
				= hidden_field_tag "restaurant_id", result[:restaurant_ids]
				= hidden_field_tag "month", result[:months]
				= hidden_field_tag "year", result[:year]
				= submit_tag "Descargar reporte en pdf", class: "btn btn-default submit_pdf_button"

	#monthly_summary.col-md-offset-1.col-md-10{data: {yes_values: "#{month_yes_values}", no_values: "#{month_no_values}", months: "#{months_names}"}}
		.line_graph>
			%canvas#my_graph{width: 300, height: 250}
		.pies_graphs{data: {yes_percentage: "#{yes_value*100/(yes_value+no_value)}", no_percentage: "#{no_value*100/(yes_value+no_value)}" }}
			%canvas#yes_pie{width: 100, height: 100}
			%h3.title_red
				SI
			%canvas#no_pie{width: 100, height: 100}
			%h3.title_blue
				NO

	:javascript
		var lineChartData = {
			labels : $("#monthly_summary").data("months"),
			datasets : [
			{
				fillColor : "rgba(0,0,0,0)",
				strokeColor : "rgba(255,0,0,1)",
				pointColor : "rgba(255,0,0,1)",
				pointStrokeColor : "#ff0000",
				scaleLineColor : "rgba(255,0,0,1)",
				data : $("#monthly_summary").data("yes-values")
			},
			{
				fillColor : "rgba(0,0,0,0)",
				strokeColor : "rgba(42,41,92,1)",
				pointColor : "rgba(42,41,92,1)",
				pointStrokeColor : "#2A295C",
				data : $("#monthly_summary").data("no-values")
			}]
		};
		var line_params = {
			bezierCurve: false,
			animation: false, 
			scaleOverride: true,
			scaleSteps : 4,
			scaleStepWidth : 25,
			scaleStartValue : 0
		};
		var myLine = new Chart($("#my_graph").get(0).getContext("2d")).Line(lineChartData, line_params);

		var donut_params = {
			segmentShowStroke: false,
			percentageInnerCutout: 50,
			animation: false
		};

		var yes_donut = [
			{
				value : 100 - $(".pies_graphs").data("yes-percentage"),
				color : "#A19FAC"
			},
			{
				value : $(".pies_graphs").data("yes-percentage"),
				color : "#FF0000"
			}
		];
		var no_donut = [
			{
				value : 100 - $(".pies_graphs").data("no-percentage"),
				color : "#A19FAC"
			},
			{
				value : $(".pies_graphs").data("no-percentage"),
				color:"#2A295C"
			}
		];

		var myDoughnut = new Chart($("#yes_pie").get(0).getContext("2d")).Doughnut(yes_donut, donut_params);
		var myOtherDoughnut = new Chart($("#no_pie").get(0).getContext("2d")).Doughnut(no_donut, donut_params);