.station.row.result_to_care
	.col-md-12.col-xs-12
		.col-md-5.col-xs-12.left_part{style: "background: #000; color: #FFF"}
			%h3
				Apreciacion general durante las fechas indicadas:
				%br
				= "Inicio: " + result[1][:start].strftime("%d/%m/%Y")
				%br
				= "Fin: " + result[1][:end].strftime("%d/%m/%Y")
		.col-md-7.col-xs-12.right_part
			- total = result[1][:grand_total]
			- yes = result[1][:grand_yes]
			- no = result[1][:grand_no]
			- unless total == 0
				- yes_width = yes*100/total
				- no_width = no*100/total
				.bar.positive_bar{ style: "width: #{yes_width}%;"}
					- unless yes == 0
						%p
							= "SI: #{yes} votos (#{yes_width}%)" 
					- else
						%p
				.bar.negative_bar{ style: "width: #{no_width}%;"}
					- unless no == 0
						%p
							= "NO: #{no} votos (#{no_width}%)"
					- else
						%p
			- else
				.bar.positive_bar{ style: "width: 0px;"}
				.bar.negative_bar{ style: "width: 0px;"}
	.clearfix.col-md-12.col-xs-12
- result[0].each do |r|
	.station.row.result_to_care
		.col-md-12.col-xs-12
			.col-md-3.col-xs-12.left_part
				%h3
					= r[1].name
			- if r[0]
				.col-md-9.col-xs-12.right_part{style: "padding-top: 10px; margin-bottom: 10px;"}
					- total = r[2][:total]
					- yes = r[2][:yes]
					- no = r[2][:no]
					- unless total == 0
						- yes_width = yes*100/total
						- no_width = no*100/total
						.bar.positive_bar{ style: "width: #{yes_width}%;"}
							- unless yes == 0
								%p
									= "SI: #{yes} votos (#{yes_width}%)" 
							- else
								%p
						.bar.negative_bar{ style: "width: #{no_width}%;"}
							- unless no == 0
								%p
									= "NO: #{no} votos (#{no_width}%)"
							- else
								%p
					- else
						.bar.positive_bar{ style: "width: 0px;"}
						.bar.negative_bar{ style: "width: 0px;"}
			.clearfix.col-md-12.col-xs-12
= link_to "Imprimir documento", "javascript:window.print()", id: "print_button", class: "btn btn-block btn-primary"