- if load_css
	= wicked_pdf_stylesheet_link_tag "print.css"
	%meta{http_equiv: "Content-Type", content: "text/html; charset=UTF-8" }
	.row.common-title
		.col-md-12
			%h1
				%span
					Reporte por rango de fechas
				= wicked_pdf_image_tag "statistic.png"
	#new_logo.row
		= wicked_pdf_image_tag "long_logo.png"
- if result[0]
	= form_tag result_per_range_path(format: "pdf"), class: "download_pdf" do
		= hidden_field_tag "restaurant_id", result[5][:restaurant].id
		= hidden_field_tag "start_date_for_report", result[5][:start_date]
		= hidden_field_tag "end_date_for_report", result[5][:end_date]
		= submit_tag "Descargar resumen en pdf", class: "btn btn-primary btn-block"
	.station.row.result_to_care
		.col-md-12.col-xs-12
			%h1
				= result[5][:restaurant].name
				%br
				= "Fecha inicial: #{result[5][:start_date]}"
				%br
				= "Fecha final: #{result[5][:end_date]}"
	- result[1].times do |i|
		.station.row.result_to_care
			.col-md-12.col-xs-12
				- day = result[2][i]
				- month = result[3][i]
				.col-md-3.col-xs-12.left_part
					%h3
						= "Día: " + day.to_s + "/" + month.to_s
				.col-md-9.col-xs-12.right_part{style: "padding-top: 10px; margin-bottom: 10px;"}
					- total = result[4][day.to_s][:yes] + result[4][day.to_s][:no]
					- unless total == 0
						- yes = result[4][day.to_s][:yes]
						- no = result[4][day.to_s][:no]
						- yes_width = yes*100/total
						.bar.positive_bar{ style: "width: #{yes_width}%;"}
							- unless yes == 0
								%p
									= "SI: #{yes} votos (#{yes_width}%)" 
							- else
								%p
						- no_width = no*100/total									
						.bar.negative_bar{ style: "width: #{no_width}%;"}
							- unless no == 0
								%p
									= "NO: #{no} votos (#{no_width}%)"
							- else
								%p
					- else
						.bar.positive_bar{ style: "width: 0px;"}
						.bar.negative_bar{ style: "width: 0px;"}
				.clearfix.col-md-12.col-xs-12
	= link_to "Imprimir documento", "javascript:window.print()", id: "print_button", class: "btn btn-block btn-primary"
- else
	%h1.no_survey_result
		No existe encuestas en la fecha indicada



