= form_tag result_per_month_with_year_path(format: "pdf"), class: "download_pdf", remote: true do
	= hidden_field_tag "restaurant_id", result[5][:restaurant].id
	= hidden_field_tag "month", result[4].month
	= hidden_field_tag "year", result[4].year
	= submit_tag "Descargar resumen en pdf", class: "btn btn-primary btn-block"
- if result[0]
	.station.row.result_to_care
		.col-md-12.col-xs-12
			%h1
				= "Mes: #{result[4].strftime('%B')} "
				%br
				Satisfaccion total: 
				= "SI: #{result[5][:grand_yes]*100/result[5][:total]}%"
				= "NO: #{result[5][:grand_no]*100/result[5][:total]}%"
				%br
				= "Local: #{result[5][:restaurant].name}"
	- result[1].times do |i|
		.station.row.result_to_care
			.col-md-12.col-xs-12
				- day = result[2][i]
				.col-md-3.col-xs-12.left_part
					%h3
						= "Dia: " + day.to_s + "/" + result[4].month.to_s
				.col-md-9.col-xs-12.right_part{style: "padding-top: 10px; margin-bottom: 10px;"}
					- total = result[3][day.to_s][:yes] + result[3][day.to_s][:no]
					- unless total == 0
						- yes = result[3][day.to_s][:yes]
						- no = result[3][day.to_s][:no]
						- yes_width = yes*100/total
						.bar.positive_bar{ style: "width: #{yes_width}%;"}
							- unless yes == 0
								%p
									= "#{yes} votos (#{yes_width}%)" 
							- else
								%p
						- no_width = no*100/total									
						.bar.negative_bar{ style: "width: #{no_width}%;"}
							- unless no == 0
								%p
									= "#{no} votos (#{no_width}%)"
							- else
								%p
					- else
						.bar.positive_bar{ style: "width: 0px;"}
						.bar.negative_bar{ style: "width: 0px;"}
				.clearfix.col-md-12.col-xs-12
	= link_to "Imprimir documento", "javascript:window.print()", id: "print_button", class: "btn btn-block btn-primary"
- else
	%h1.no_survey_result
		No existe encuestas en la fecha indicada



