.row.common-title
	.col-md-12
		%h1
			%span
				Reporte Mensual
			= image_tag "statistic.png"
#new_logo.row
	=image_tag "long_logo.png"
#survey_form.row
	.col-md-12
		= form_tag result_per_month_with_year_path, id: "search_monthly_result", remote: true do
			.col-md-4.col-sm-6.col-xs-12
				.form-group
					.col-md-12
						= select_tag "restaurant_id", options_from_collection_for_select(current_user.restaurants, :id, :name), class: "form-control", multiple: true, title: "Para seleccionar mas de un site mantenga presionada la tecla Ctrl"
			.col-md-2.col-sm-3.col-xs-12
				.form-group
					.col-md-12
						= select_tag "month", options_for_select({ enero: "1", febrero: "2", marzo: "3", abril: "4", mayo: "5", junio: "6", julio: "7", agosto: "8", septiembre: "9", octubre: "10", noviembre: "11", diciembre: "12"}), class: "form-control", multiple: true, title: "Para seleccionar mas de un mes mantenga presionada la tecla Ctrl"
			.col-md-2.col-sm-3.col-xs-12
				.form-group
					.col-md-12
						= select_tag "year", options_for_select(%w(2014 2015 2016)), class: "form-control"
			.col-md-3.col-sm-4.col-xs-12
				.form-group
					.col-md-12
						= submit_tag "Consultar reporte", class: "form-control"

- content_for :scripts do
	:javascript
		$(document).ready(function(){
			$(".navbar").removeClass("navbar-fixed-top");
			$("body > container-fluid").css("margin-top", "-20px");
			$(".navbar").css("position", "relative");
			$(".navbar").css("z-index", "200");
			$("body").css("padding-top","0px");

			$("#loading_part").css("top", "100%");

			$("#restaurant_id").multiselect({
				selectedText: "# de # sites seleccionados",
				header: false,
				noneSelectedText: "Sites",
				position: {
					my: "left bottom",
					at: "left top"
				},
				click: function(ev, ui){
					//$(this).parents("form").submit();
				}
			});
			$("#month").multiselect({
				selectedText: "# meses",
				header: false,
				noneSelectedText: "Meses",
				minWidth: "100px",
				position: {
					my: "left bottom",
					at: "left top"
				},
				click: function(ev, ui){
					//$(this).parents("form").submit();
				}
			});
		});

- content_for :previous_image do 
	#big_image_container.row
		#report_image_bg.col-md-12.col-sm-12.col-xs.12
			= image_tag "new_bg.jpg"
