.row.common-title
	.col-md-12
		%h1
			%span
				Reporte detallado
			= image_tag "statistic.png"
#new_logo.row
	=image_tag "long_logo.png"
#survey_form.row
	.col-md-12
		= form_tag result_detailed_by_service_path, id: "search_result", remote: true do
			.col-md-4.col-sm-6.col-xs-12
				.form-group
					.col-md-12
						= select_tag "restaurant_id", options_from_collection_for_select(current_user.restaurants, :id, :name), class: "form-control"
			.col-md-2.col-md-offset-4.col-sm-3.col-xs-12
				.form-group
					.col-md-12
						= text_field_tag "start_date_for_report", "", class: "form-control", placeholder: "Fecha inicial", data: {placement: "top"}
			.col-md-2.col-sm-3.col-xs-12
				.form-group
					.col-md-12
						= text_field_tag "end_date_for_report", "", class: "form-control", placeholder: "Fecha final", data: {placement: "top"}

- content_for :scripts do 
	:javascript
		$(document).on('focusin', '#start_date_for_report', function(){
			$(this).datepicker({
				format: "dd/mm/yyyy",
				autoclose: true,
				pickerPosition: "top-left"
			})
				.on('changeDate', function(ev){
					$("#search_result").submit();
					$("#loading_part").show();
				});;
		});
		$(document).on('focusin', '#end_date_for_report', function(){
			$(this).datepicker({
				format: "dd/mm/yyyy"
			})
				.on('changeDate', function(ev){
					$("#search_result").submit();
					$("#loading_part").show();
				});;
		});
		$(document).ready(function(){
			$(".navbar").removeClass("navbar-fixed-top");
			$("body .container-fluid").css("margin-top", "-20px");
			$(".navbar").css("position", "relative");
			$(".navbar").css("z-index", "200");
			$("body").css("padding-top","0px");
		});

- content_for :previous_image do 
	#big_image_container.row
		#report_image_bg.col-md-12.col-sm-12.col-xs.12
			= image_tag "new_bg.jpg"