.row
	.col-md-5.col-sm-6.col-xs-12
		%h1.model-title
			Asociación registrada

- unless notice.nil?
	.row
		.col-xs-12.col-sm-6.col-sm-3.col-md-6.col-md-offset-3.alert.alert-success
			%p#notice
				= content_tag :strong, notice

.row
	.col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
		.page-header
			%h1
				Datos de la asociacion registrada
		.panel.panel-info
			.panel-heading
				Pregunta
			.panel-body
				= @availability.question.title
		.panel.panel-info
			.panel-heading
				Local
			.panel-body
				= @availability.restaurant.name

.row
	.col-md-3.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-12
		= link_to 'Editar', edit_availability_path(@availability), class: "btn btn-default btn-block"
	.col-md-3.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-12
		= link_to 'Volver', availabilities_path, class: "btn btn-primary btn-block"